
*{
  margin:0;
  padding: 0;
  box-sizing:border-box ;
}

body{
  width: 80%;
  max-width: 1170px;
  margin:0 auto;
  text-align: center;
  font-family: 'Fredoka One', cursive;

}

.clearfix::after{
  content:"";
  display: table;
  clear: both;

}

header h1{
  color:rgb(233, 64, 64);
  padding: 40 0;
}

.txt{
  margin:40px;
  padding-bottom:40px ;
  font-family: 'Roboto', sans-serif;
}
.card img{
  width: 100px;
  height: 100px;
  float: left;
}

.card{
  width: calc(100%/ 3 -20px);
  height: 100px;
  background-color: black;
  margin:15px;
  float: left;
  

}
.info{
  color: white;
  float: left;
  text-align: left;
}

.nome{
  margin: 15px 20px 10px 20px;  
}
.style{
  font-family: 'Fredoka One', cursive;
  font-size: 10px;
  margin: 10px 20px;

}
.color{
  color:rgb(81, 81, 223);
  margin: 0px 20px;

}
